<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="calculator" style="width: 200px; height: 300px;">
      <div class="top">
        <div class="screen">
          <textarea readonly>0</textarea>
        </div>
      </div>
      <div class="middle">
        <div class="story">

        </div>
      </div>
      <div class="bottom">
        <div class="hull">
          <div class="numbers">
            <div class="number-row">
              <div class="button">
                0
              </div>
              <div class="button">
                1
              </div>
              <div class="button">
                2
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
